@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);

    --color-background: #eee;
    --color-base: #f3f4f6;
    --color-primary: #c0d2fa;
    --color-accent: #589deb;
    --color-text: #111827;
    --color-warn: #ffb4b4;

    --color-danger: #ff0000;
    --color-success: #00ff00;
    --color-neutral: #0000ff;
}

svg {
    flex-shrink: 0;
}

p,
ol,
ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-background);
}

* {
    box-sizing: border-box;
}
