@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);

    --color-base: #f3f4f6;
    --color-primary: #c0d2fa;
    --color-secondary: #9cd3dd;
    --color-accent: #589deb;
    --color-text: #111827;
    --color-warn: #ffb4b4;
}

svg {
    flex-shrink: 0;
}

p,
ol,
ul {
    margin-block: 0;
}
